{% extends "main.html" %}
{% block content %}

<div class="container-fluid">
  <div class="well col-md-10 col-md-offset-1">
      <div class="row">
          <!--display all categories-->
            <div class="col-md-3" style="border-right: 1px solid #ccc;">
                <h3>Categories:</h3>
                <ul>
                {% for category in categories %}
                    <a href = "{{url_for('showCategory', category_escaped = category.name)}}">
						  <li>{{category.name}}</li>
			         </a>

                {% endfor %}
                </ul>
            </div>
          <!--display items of a particular category-->
            <div class="col-md-9" style="padding-left: 50px">
                <h3>{{category.name}} Items:</h3>
                <ul>
                {% for item in items %}
                    <a href = "{{url_for('showItem', category_name=category.name, item_escaped = item.name)}}">
                        <li>{{item.name}}</li>
                     </a>
                {% endfor %}
                </ul>
            </div>
      </div>
     
  </div>
</div>

{% endblock %}

